@import "compass";
@import "settings.scss";
/* Global
______________________*/

html{
	height:100%;
}
body{
	height:100%;
	width: 100%;
	font-family: $light;
   font-weight: 100;
}

h1{
	color: white;
	font-size: 8em; 
	font-family: $bebas;
   font-weight: 300;
}
.sectionwrapper{
	width:100%;
	text-align: center;
}

@import "nav.scss";
@import "navarrow.scss";


/*Contact 
______________________*/

#contact{
	margin-top: -700px;
	visibility: hidden;
	overflow: hidden;
	width:100%;
	height:700px;
	background:#28272e;
	z-index: 199;
	position: fixed;
	text-align: center;
	overflow:hidden;
	@include transition(all 1s ease-in-out);
 	
 	h2 {
	margin-top: 4em;
	color:white;
	}
}

.cwrapper{
	width:1100px;
	height: 700px;
	margin: 0 auto;
}
/* Contact pic*/
.contactpic{
	background-image:url('../images/settings.png');
	background-size: cover;
	position: fixed;
	left: 20px;
	top: 20px;
	width:50px;
	height:50px;
	z-index: 200;
	opacity:0.5;
	@include transition(all 0.5s ease-in-out);

	&:hover{
		cursor: pointer;
		@include scale(1.2);
	}
}

@import "contactform.scss";

@import "contactcard.scss";



/* Home Section
______________________*/

#home{
	background:$mainbg;
	width:100%;
	height: 90%;
	min-height:650px;
	position: relative;
	border-bottom: solid 5px darken($mainbg, 20%);

	&:after{
		@include arrow(down, 45px, $mainbg );
			bottom:-82px;
			right: 20%;
			z-index: 10;
	}
	&:before{
		@include arrow(down, 45px, darken($mainbg, 20%) );
			bottom:-90px;
			right: 20%;
			z-index: 10;
	}
	h1{
		color: invert($mainbg);
	}
	h2, h3{
		color:invert($mainbg);
		font-size: 28px;
		margin-bottom: 30px;
		font-family: $light;
		font-weight: 100;

	}
	h3{
		font-size: 18px;
		margin-bottom: 5px;

	}
	img{
		width: 35%;
		height: 35%;
	}
}
.intro {
		height: 458px;
		position: absolute;
		text-align: center;
		top: 20%;
		width:100%;
	}
.white{
	display:none;
	width: 100%;
	margin: 0 auto;
}

/* about Section
______________________*/

#about{
	background:invert($mainbg);
	height: auto;
	min-height: 580px;
	width:100%;
	position: relative;
	border-bottom: solid 5px darken($mainbg, 20%);

	&:after{
		@include arrow(down, 45px,invert($mainbg) );
		bottom: -82px;
		left: 20%;
		z-index: 10;
	}
	&:before{
		@include arrow(down, 45px, darken($mainbg, 20%));
		bottom: -90px;
		left: 20%;
		z-index: 10;
	}
	h1{
		padding-top: .5em;
		margin-bottom: 10px;
		padding-bottom: 0;
		color: $mainbg;
		text-shadow: 0px 3px 1px darken($mainbg, 20%) ;
	}
}

@import "timeline.scss";


/* Portfolio Section
______________________*/


#portfolio{
	background: $mainbg;
	position: relative;
	min-height: 1200px;
	width:100%;
	height:100%;
	 h1 {
		padding: 1em 0 0.3em 0;
		color: invert($mainbg);
	}
}
.portwrapper{
	width:900px;
	margin: 0 auto;
	
	ul{
		list-style: none;
	}
	p{
		padding:0.5em;
		color: black;
		font-size: 2em;
		height:180px;
		display: table-cell;
		vertical-align: middle;
	}
}
.smallbox{
		width: 400px;
		height: 200px;
		display: inline-block;
		background: darken($mainbg, 20%);
}
.portImg{
	width:100%;
	height: 100%;
}


/* Ipad & Mobile
______________________*/

@media only screen and (max-width: 1100px) {
	nav {
		display:none;				/*No Nav*/
	}
	.arrowcon{
		display: none;
	}
}
@media only screen and (max-width: 850px) {
	.portwrapper{
		width:100%;
	}
	.portwrapper ul{
		width: 400px;
		margin: 0 auto;
		}						/*Portfolio*/
	#portfolio{
		min-height: 2000px;
	}
	.smallbox{
		margin:1em;
}
@media only screen and (max-width: 785px) {
	.timeline{
		width: 100%;
	}
	
	.timemobile{
		margin: 3em auto;
		font-size: 1.35em;
		text-align: left;				/*Timeline*/
		color:#929988;
		display:block;
		width: 260px;
		 ul{
			margin: 20px auto;
			list-style: none;
		}
		li{
			padding-top: 8px;
		}
		time{
			font-size: 1em;
		}
	}
	.timeline{
		width:100%;
	}
	.timebottom{
		display:none;
	}
	.timetop{
		display: none;
	}
}
@media only screen and (max-width: 768px) {

	body{
		background: none;
	}
	#about, #portfolio{
		margin: 0;
	}

}

@media only screen and (max-width: 600px) {
	/*Global*/
	h1 {
		font-size:5em;
	}
	/*timeline*/
	.timemobile{
		margin-top: 75px;
		font-size: 1.3em;
		width: 220px;

	 	li{
			padding-top: 10px;
		}
		time{
			font-size: 1em;

		}
	}

	/*home icons*/
	#home ul li img {
		width:3em;
		height:3em;
	}
	/*Arrow*/
	.arrowcon{
		bottom: 0;
		left: -20px;
	}

	/*About*/
	#about .sectionwrapper{
		padding-top: 50px;
	}

	/*Portfolio*/

	#portfolio {
		min-height: 1300px;

		ul {
		text-align: center;
		width: 300px;
		}
	}
	.smallbox{
		width: 250px;
		height: 125px;
		p{
			font-size: 1em;
			height:125px;
		}
	}
}
}