/* Global
______________________*/

html{
	height:100%;
}
body{ 
	height:100%;
	width: 100%;
	font-family: $light;
   font-weight: 100;
   background: $mainbg;
}

h1{
	color: white;
	font-size: 8em; 
	font-family: $bebas;
   font-weight: 300;
}
h2{
	font-family: $bebas;
	color: invert($mainbg);
}
a{
	text-decoration: none;
	color: lighten(invert($mainbg), 35%);
}
.sectionwrapper{
	width:100%; 
	text-align: center;
}

.back{
	font-size: 2em;
	margin-top:0.5em;
}