/* Portfolio Section
______________________*/


#portfolio{
	background: $mainbg;
	position: relative;
	min-height: 1200px;
	width:100%;
	height:100%;
	 h1 {
		padding: 1em 0 0.3em 0;
		color: invert($mainbg);
	}
	.smallbox{
		background: darken($mainbg, 20%)
	}
	h2{
		margin: 0.75em 0.75em 0.75em 0.75em ;
		font-size: 2em;

	}
	p{
		margin: 0em 0 0.5em 1em;
		font-size: 1.5em;
	}
	.readmore{
		font-size: 1.5em;
		margin-left: 1em;

	}
}


.portImg{
	width:100%;
	height: 100%;
}



/* Portfolio Item
______________________*/


.itembox{
	margin: 1em 0;
	h1{
		color: invert($mainbg);
		font-size: 4em;
	}
	p{
		font-size: 2em;
		margin: 1em 0;
	}
}

@import "portfolioSelect";
